src/VPSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/vps" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/vps/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax21="http://ws.apache.org/axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/vps">
    <wsdl:documentation>VPSearchService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/vps/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="getAllVehiclesByMake">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="make" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByMakeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByMileage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByMileageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByModel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByModelResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByPriceRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="min" type="xs:double"/>
                        <xs:element minOccurs="0" name="max" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByPriceRangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByRegYear">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="regyear" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesByRegYearResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehicles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVehiclesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Vehicle"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveSearchResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchResultID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveSearchResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVehicles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVehiclesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHelloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="VPSSearchResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="iD" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="searchResult" nillable="true" type="ax21:Vehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Vehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="make" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="regyear" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vehicleID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVehiclesRequest">
        <wsdl:part name="parameters" element="ns:getVehicles"/>
    </wsdl:message>
    <wsdl:message name="getVehiclesResponse">
        <wsdl:part name="parameters" element="ns:getVehiclesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByModelRequest">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByModel"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByModelResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByModelResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByMakeRequest">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByMake"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByMakeResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByMakeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByRegYearRequest">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByRegYear"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByRegYearResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByRegYearResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByPriceRangeRequest">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByPriceRange"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByPriceRangeResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByPriceRangeResponse"/>
    </wsdl:message>
    <wsdl:message name="SaveSearchResultRequest">
        <wsdl:part name="parameters" element="ns:SaveSearchResult"/>
    </wsdl:message>
    <wsdl:message name="SaveSearchResultResponse">
        <wsdl:part name="parameters" element="ns:SaveSearchResultResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByMileageRequest">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByMileage"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesByMileageResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesByMileageResponse"/>
    </wsdl:message>
    <wsdl:message name="sayHelloRequest">
        <wsdl:part name="parameters" element="ns:sayHello"/>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part name="parameters" element="ns:sayHelloResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesRequest">
        <wsdl:part name="parameters" element="ns:getAllVehicles"/>
    </wsdl:message>
    <wsdl:message name="getAllVehiclesResponse">
        <wsdl:part name="parameters" element="ns:getAllVehiclesResponse"/>
    </wsdl:message>
    <wsdl:portType name="VPSearchServicePortType">
        <wsdl:operation name="getVehicles">
            <wsdl:input message="axis2:getVehiclesRequest" wsaw:Action="urn:getVehicles"/>
            <wsdl:output message="axis2:getVehiclesResponse" wsaw:Action="urn:getVehiclesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByModel">
            <wsdl:input message="axis2:getAllVehiclesByModelRequest" wsaw:Action="urn:getAllVehiclesByModel"/>
            <wsdl:output message="axis2:getAllVehiclesByModelResponse" wsaw:Action="urn:getAllVehiclesByModelResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByMake">
            <wsdl:input message="axis2:getAllVehiclesByMakeRequest" wsaw:Action="urn:getAllVehiclesByMake"/>
            <wsdl:output message="axis2:getAllVehiclesByMakeResponse" wsaw:Action="urn:getAllVehiclesByMakeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByRegYear">
            <wsdl:input message="axis2:getAllVehiclesByRegYearRequest" wsaw:Action="urn:getAllVehiclesByRegYear"/>
            <wsdl:output message="axis2:getAllVehiclesByRegYearResponse" wsaw:Action="urn:getAllVehiclesByRegYearResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByPriceRange">
            <wsdl:input message="axis2:getAllVehiclesByPriceRangeRequest" wsaw:Action="urn:getAllVehiclesByPriceRange"/>
            <wsdl:output message="axis2:getAllVehiclesByPriceRangeResponse" wsaw:Action="urn:getAllVehiclesByPriceRangeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SaveSearchResult">
            <wsdl:input message="axis2:SaveSearchResultRequest" wsaw:Action="urn:SaveSearchResult"/>
            <wsdl:output message="axis2:SaveSearchResultResponse" wsaw:Action="urn:SaveSearchResultResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByMileage">
            <wsdl:input message="axis2:getAllVehiclesByMileageRequest" wsaw:Action="urn:getAllVehiclesByMileage"/>
            <wsdl:output message="axis2:getAllVehiclesByMileageResponse" wsaw:Action="urn:getAllVehiclesByMileageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <wsdl:input message="axis2:sayHelloRequest" wsaw:Action="urn:sayHello"/>
            <wsdl:output message="axis2:sayHelloResponse" wsaw:Action="urn:sayHelloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllVehicles">
            <wsdl:input message="axis2:getAllVehiclesRequest" wsaw:Action="urn:getAllVehicles"/>
            <wsdl:output message="axis2:getAllVehiclesResponse" wsaw:Action="urn:getAllVehiclesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VPSearchServiceSoap11Binding" type="axis2:VPSearchServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVehicles">
            <soap:operation soapAction="urn:getVehicles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByMake">
            <soap:operation soapAction="urn:getAllVehiclesByMake" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByModel">
            <soap:operation soapAction="urn:getAllVehiclesByModel" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByPriceRange">
            <soap:operation soapAction="urn:getAllVehiclesByPriceRange" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByRegYear">
            <soap:operation soapAction="urn:getAllVehiclesByRegYear" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveSearchResult">
            <soap:operation soapAction="urn:SaveSearchResult" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehiclesByMileage">
            <soap:operation soapAction="urn:getAllVehiclesByMileage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="urn:sayHello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVehicles">
            <soap:operation soapAction="urn:getAllVehicles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VPSearchService">
        <wsdl:port name="VPSearchServiceHttpSoap11Endpoint" binding="axis2:VPSearchServiceSoap11Binding">
            <soap:address location="http://10.0.2.15:8888/axis2/services/VPSearchService.VPSearchServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
