src/VPSLoanBrokerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/vps" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/vps/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://ws.apache.org/axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/vps">
    <wsdl:documentation>VPSLoanBrokerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax26="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/vps/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="GetAllLoansResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax26:LoanProduct"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindLoansByUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userProfile" nillable="true" type="ax26:UserProfile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindLoansByUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:LoanSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="LoanProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="apr" type="xs:double"/>
                    <xs:element minOccurs="0" name="lender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="loanID" type="xs:int"/>
                    <xs:element minOccurs="0" name="maxAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="minAount" type="xs:double"/>
                    <xs:element minOccurs="0" name="monthlyRepayment" type="xs:double"/>
                    <xs:element minOccurs="0" name="periodofLoan" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userProfileID" type="xs:int"/>
                    <xs:element minOccurs="0" name="vehicleOfInterest" nillable="true" type="ax25:Vehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Vehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isSold" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="make" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="regyear" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vehicleID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanSearchResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="loanProductsFound" nillable="true" type="ax25:LoanProduct"/>
                    <xs:element minOccurs="0" name="loanSearchID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FindLoansByUserProfileRequest">
        <wsdl:part name="parameters" element="ns:FindLoansByUserProfile"/>
    </wsdl:message>
    <wsdl:message name="FindLoansByUserProfileResponse">
        <wsdl:part name="parameters" element="ns:FindLoansByUserProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAllLoansRequest"/>
    <wsdl:message name="GetAllLoansResponse">
        <wsdl:part name="parameters" element="ns:GetAllLoansResponse"/>
    </wsdl:message>
    <wsdl:portType name="VPSLoanBrokerServicePortType">
        <wsdl:operation name="FindLoansByUserProfile">
            <wsdl:input message="axis2:FindLoansByUserProfileRequest" wsaw:Action="urn:FindLoansByUserProfile"/>
            <wsdl:output message="axis2:FindLoansByUserProfileResponse" wsaw:Action="urn:FindLoansByUserProfileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllLoans">
            <wsdl:input message="axis2:GetAllLoansRequest" wsaw:Action="urn:GetAllLoans"/>
            <wsdl:output message="axis2:GetAllLoansResponse" wsaw:Action="urn:GetAllLoansResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VPSLoanBrokerServiceSoap11Binding" type="axis2:VPSLoanBrokerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="FindLoansByUserProfile">
            <soap:operation soapAction="urn:FindLoansByUserProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllLoans">
            <soap:operation soapAction="urn:GetAllLoans" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VPSLoanBrokerService">
        <wsdl:port name="VPSLoanBrokerServiceHttpSoap11Endpoint" binding="axis2:VPSLoanBrokerServiceSoap11Binding">
            <soap:address location="http://10.0.2.15:8888/axis2/services/VPSLoanBrokerService.VPSLoanBrokerServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
