src/VPSOfferMakingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/vps" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://ws.apache.org/axis2/xsd" xmlns:ns="http://inm381/vps/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/vps">
    <wsdl:documentation>VPSOfferMakingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax28="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/vps/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="SubmitOffer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="newOffer" nillable="true" type="ax28:Offer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SubmitOfferResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:Offer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllSavedLoanSearchResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax28:Offer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="Offer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isAccepted" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="offerAmount" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="offerID" type="xs:int"/>
                    <xs:element minOccurs="0" name="userProfile" nillable="true" type="ax27:UserProfile"/>
                    <xs:element minOccurs="0" name="vehicle" nillable="true" type="ax27:Vehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userProfileID" type="xs:int"/>
                    <xs:element minOccurs="0" name="vehicleOfInterest" nillable="true" type="ax27:Vehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Vehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isSold" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="make" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="regyear" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vehicleID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAllSavedLoanSearchResultsRequest"/>
    <wsdl:message name="GetAllSavedLoanSearchResultsResponse">
        <wsdl:part name="parameters" element="ns:GetAllSavedLoanSearchResultsResponse"/>
    </wsdl:message>
    <wsdl:message name="SubmitOfferRequest">
        <wsdl:part name="parameters" element="ns:SubmitOffer"/>
    </wsdl:message>
    <wsdl:message name="SubmitOfferResponse">
        <wsdl:part name="parameters" element="ns:SubmitOfferResponse"/>
    </wsdl:message>
    <wsdl:portType name="VPSOfferMakingServicePortType">
        <wsdl:operation name="GetAllSavedLoanSearchResults">
            <wsdl:input message="axis2:GetAllSavedLoanSearchResultsRequest" wsaw:Action="urn:GetAllSavedLoanSearchResults"/>
            <wsdl:output message="axis2:GetAllSavedLoanSearchResultsResponse" wsaw:Action="urn:GetAllSavedLoanSearchResultsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SubmitOffer">
            <wsdl:input message="axis2:SubmitOfferRequest" wsaw:Action="urn:SubmitOffer"/>
            <wsdl:output message="axis2:SubmitOfferResponse" wsaw:Action="urn:SubmitOfferResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VPSOfferMakingServiceSoap11Binding" type="axis2:VPSOfferMakingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GetAllSavedLoanSearchResults">
            <soap:operation soapAction="urn:GetAllSavedLoanSearchResults" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitOffer">
            <soap:operation soapAction="urn:SubmitOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VPSOfferMakingService">
        <wsdl:port name="VPSOfferMakingServiceHttpSoap11Endpoint" binding="axis2:VPSOfferMakingServiceSoap11Binding">
            <soap:address location="http://10.0.2.15:8888/axis2/services/VPSOfferMakingService.VPSOfferMakingServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
