src/VPSStorageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/vps" xmlns:ax29="http://ws.apache.org/axis2/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/vps/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/vps">
    <wsdl:documentation>VPSStorageService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax210="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/vps/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="GetSavedSearchResultByID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchResultID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetSavedSearchResultByIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllSavedSearchResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax210:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveSearchResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchResult" nillable="true" type="ax210:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveSearchResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileToSave" nillable="true" type="ax210:VPSSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="VPSSearchResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="searchResult" nillable="true" type="ax29:Vehicle"/>
                    <xs:element minOccurs="0" name="vpsSearchResultID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Vehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isSold" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="make" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="regyear" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vehicleID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAllSavedSearchResultsRequest"/>
    <wsdl:message name="GetAllSavedSearchResultsResponse">
        <wsdl:part name="parameters" element="ns:GetAllSavedSearchResultsResponse"/>
    </wsdl:message>
    <wsdl:message name="writeFileRequest">
        <wsdl:part name="parameters" element="ns:writeFile"/>
    </wsdl:message>
    <wsdl:message name="writeFileResponse">
        <wsdl:part name="parameters" element="ns:writeFileResponse"/>
    </wsdl:message>
    <wsdl:message name="SaveSearchResultRequest">
        <wsdl:part name="parameters" element="ns:SaveSearchResult"/>
    </wsdl:message>
    <wsdl:message name="SaveSearchResultResponse">
        <wsdl:part name="parameters" element="ns:SaveSearchResultResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSavedSearchResultByIDRequest">
        <wsdl:part name="parameters" element="ns:GetSavedSearchResultByID"/>
    </wsdl:message>
    <wsdl:message name="GetSavedSearchResultByIDResponse">
        <wsdl:part name="parameters" element="ns:GetSavedSearchResultByIDResponse"/>
    </wsdl:message>
    <wsdl:portType name="VPSStorageServicePortType">
        <wsdl:operation name="GetAllSavedSearchResults">
            <wsdl:input message="axis2:GetAllSavedSearchResultsRequest" wsaw:Action="urn:GetAllSavedSearchResults"/>
            <wsdl:output message="axis2:GetAllSavedSearchResultsResponse" wsaw:Action="urn:GetAllSavedSearchResultsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="writeFile">
            <wsdl:input message="axis2:writeFileRequest" wsaw:Action="urn:writeFile"/>
            <wsdl:output message="axis2:writeFileResponse" wsaw:Action="urn:writeFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SaveSearchResult">
            <wsdl:input message="axis2:SaveSearchResultRequest" wsaw:Action="urn:SaveSearchResult"/>
            <wsdl:output message="axis2:SaveSearchResultResponse" wsaw:Action="urn:SaveSearchResultResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSavedSearchResultByID">
            <wsdl:input message="axis2:GetSavedSearchResultByIDRequest" wsaw:Action="urn:GetSavedSearchResultByID"/>
            <wsdl:output message="axis2:GetSavedSearchResultByIDResponse" wsaw:Action="urn:GetSavedSearchResultByIDResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VPSStorageServiceSoap11Binding" type="axis2:VPSStorageServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GetAllSavedSearchResults">
            <soap:operation soapAction="urn:GetAllSavedSearchResults" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveSearchResult">
            <soap:operation soapAction="urn:SaveSearchResult" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeFile">
            <soap:operation soapAction="urn:writeFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSavedSearchResultByID">
            <soap:operation soapAction="urn:GetSavedSearchResultByID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VPSStorageService">
        <wsdl:port name="VPSStorageServiceHttpSoap11Endpoint" binding="axis2:VPSStorageServiceSoap11Binding">
            <soap:address location="http://10.0.2.15:8888/axis2/services/VPSStorageService.VPSStorageServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
